html {
  overflow: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Change highlight color */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #8adfce;
}

::selection {
  color: rgb(47, 94, 92);
  background: #b4e159;
}

/* make it responsive */
@media (max-width: 1000px) {
  html {
    overflow-y: auto;
    overflow-x: hidden;
  }
}